-r requirements-base.txt

edge-tts
soundfile
numpy
huggingface_hub
faster-whisper
vietnormalizer
piper-tts
kokoro==0.9.4
onnxruntime-gpu
scipy
openai
librosa
rapidocr
opencv-python-headless
sherpa-onnx
